 body {
     font-family: 'Open Sans', sans-serif, Arial, Helvetica, sans-serif;
     font-family: 'Roboto', sans-serif;
     margin: 0 0;
     background-color: rgba(156, 131, 48, 0.602);
 }
 
 form {
     margin: 0 30px 30px;
 }
 
 * {
     transition: all 0.4s ease-in;
     box-sizing: border-box;
 }
 
 h1,
 h2,
 p {
     text-align: center;
     font-family: 'roboto';
 }
 
 h1 {
     text-transform: uppercase;
     font-size: 1.7rem;
     color: white;
     padding: 30px;
     letter-spacing: 2px;
     background-color: rgb(64, 143, 54);
     margin: 0;
 }
 
 h2 {
     font-size: 1.7rem;
     margin: 30px 0 10px;
 }
 
 p {
     font-size: 1.2rem;
     color: rgb(54, 54, 56);
     margin: 0 30px 60px;
 }
 
 fieldset {
     padding: 0;
     border: none;
 }
 
 legend {
     font-family: 'open sans';
     font-weight: 700;
     font-size: 1.7rem;
     margin-bottom: 30px;
 }
 
 label {
     font-size: 1.3rem;
     color: rgb(37, 36, 36);
 }
 
 .container label {
     display: flex;
     width: 200px;
 }
 
 .line1 {
     border: solid 3px black;
     margin-bottom: 0;
 }
 
 .line2,
 .line3 {
     border: solid 1px black;
     margin-top: 4px;
     margin-bottom: 30px;
 }
 
 .line3 {
     margin-top: 30px;
 }
 
 .container input,
 select {
     border: none;
     font-family: sans-serif;
     font-weight: 400;
     font-size: 1.5rem;
     margin-bottom: 20px;
     height: 60px;
 }
 
 #zip {
     width: 50%;
 }
 
 ::placeholder {
     font-family: 'ital';
     font-size: 1.2rem;
     text-align: right;
     padding-right: 20px;
 }
 
 select:focus,
 input:focus,
 #topics:focus {
     background-color: rgb(133, 214, 133);
     color: black;
 }
 
 .container2 {
     display: flex;
     flex-direction: column;
 }
 
 .container2 div {
     display: flex;
     justify-content: flex-start;
     height: 50px;
     align-items: center;
     margin-bottom: 10px;
 }
 
 .container2 input {
     margin-right: 10px;
 }
 
 .text-area {
     flex-wrap: wrap;
 }
 
 #topics {
     width: 100%;
     height: 6rem;
     border: none;
     font-size: 1.5rem;
 }
 
 select {
     color: grey;
 }
 
 .format {
     margin-top: 30px;
 }
 
 .bt {
     display: flex;
     margin-top: 90px;
     margin-bottom: 20px;
 }
 
 button {
     width: 95%;
     font-size: 1.5rem;
     text-align: center;
     margin: auto;
     background-color: rgb(43, 122, 12);
     color: white;
     border: none;
     border-radius: 5px;
     padding: 20px 20px;
 }
 
 .container div {
     display: flex;
     flex-direction: column;
 }
 
 form {
     width: 99%;
     max-width: 700px;
     margin: 0 auto;
 }
 
 @media screen and (min-width: 768px) {
     #zip {
         width: 25%;
     }
     .container div {
         display: flex;
         flex-direction: row;
     }
     .container input:not(#zip),
     select {
         flex-grow: 1;
     }
 }